.assistant {
  text-align: center;
  margin: 20px 0;

  img {
    border-radius: 50%;
    width: 90px;
  }

  h4 {
    margin-top: 5px;

    small {
      display: block;
      font-weight: normal;
      font-size: 12px;
    }
  }
}
